# Java / Maven 
target/ 
*.class 
*.jar 
!.mvn/wrapper/*.jar 
 
# IDE 
.idea/ 
*.iml 
.vscode/ 
 
# Terraform 
**/.terraform/* 
*.tfstate 
*.tfstate.* 
*.tfvars 
crash.log 
override.tf 
override.tf.json 
 
# Env / secrets 
.env 
*.pem 
 
# OS 
.DS_Store 
